<h1>Generate Shortener Url</h1>
<%= form_with scope: :url, url: urls_path, class: 'form-group' do |form| %>
  <div class="form-group">
    <%= form.label :full_url %>
    <%= form.text_area :full_url, class: "form-control" %>
  </div>
  <p>
    <%= form.submit 'Generate Url', class: "btn btn-default" %>
  </p>
<% end %>
<br/>
<a href="" target="_blank" class='short-url'></a>
<br/>
<%= link_to 'reload!', root_url, class: "btn btn-warning" %>
<%= link_to 'Top 100 most visited page', urls_path, class: "btn btn-primary" %>


