<h1>Generate Shortener Url</h1>
<%= form_with scope: :url, url: urls_path do |form| %>
  <p>
    <%= form.label :full_url %><br>
    <%= form.text_area :full_url %>
  </p> 
  <p>
    <%= form.submit %>
  </p>
<% end %>
<span class='short-url'></span>
<br/>
<%= link_to 'reload!', root_url %>
